  receivers:
    heartbeat:
      interval: 10s
      environment: macos
      auth_check:
        url: ${env:OBSERVE_COLLECTOR_URL}
        headers:
          authorization: ${env:OBSERVE_AUTHORIZATION_HEADER}
  processors:
    resource/heartbeat:
      attributes:
      - key: observe.agent.hostname
        from_attribute: host.name
        action: insert
  exporters:
    debug:
      verbosity: detailed
      sampling_initial: 5
      sampling_thereafter: 200
    otlphttp/agentheartbeat:
        compression: zstd
        logs_endpoint: ${env:OBSERVE_COLLECTOR_URL}/v1/kubernetes/v1/entity
        headers:
            authorization: ${env:OBSERVE_AUTHORIZATION_HEADER}
            x-observe-target-package: Observe Agent
        retry_on_failure:
            enabled: true
        sending_queue:
            num_consumers: 4
            queue_size: 100
  service:
    pipelines:
      logs/heartbeat:
        receivers: [heartbeat]
        processors: [resourcedetection, resource/heartbeat]
        exporters: [otlphttp/agentheartbeat, debug]
