Networking Check
================

Running network check against {{ .URL }}...
{{- if .Passed }}
Request to test URL responded with response code {{ .ResponseCode }}
{{- else }}
Request to test URL failed with error {{ .Error }} and response code {{ .ResponseCode }}. 
{{- end }}

