agent
output-logs
./observe-agent
dist/
agent.exe
agent.exe~
.DS_Store

#integration
*.pem
*.pub 


#terraform
integration/.terrafrom 
.terraform/
terraform.tfstate
*.tfstate*
terraform.tfvars
*.auto.tfvars
tfplan
.terraform.lock.hcl

#python
*pycache*
*.pyc
