# build
agent
observe-agent
output-logs
./observe-agent
dist/
agent.exe
agent.exe~
.DS_Store
ocb-build/

#integration
*.pem
*.pub 
*.env 

#terraform
integration/.terraform
.terraform/
*.tfstate*
terraform.tfvars
*.auto.tfvars
tfplan
.terraform.lock.hcl
*_override.tf

#python
*pycache*
*.pyc

