go 1.25.9

use (
	.
	./components/processors/observek8sattributesprocessor
	./components/receivers/heartbeatreceiver
	./observecol
)

replace go.opentelemetry.io/collector v0.151.0 => ./patches/otel-collector
