extensions:
  file_storage:
    directory: ${env:FILESTORAGE_PATH}
  cgroupruntime:
    gomaxprocs:
      enabled: true

service:
  extensions:
    {{- if .HealthCheck.Enabled }}
    {{- if .HealthCheck.UseV2 }}
    - healthcheckv2
    {{- else }}
    - health_check
    {{- end }}
    {{- end }}
    - file_storage
    - cgroupruntime
