# Observe data token
token: {{ .Token }}

# Target Observe collection url
observe_url: {{ .ObserveURL }}

# Debug mode - Sets agent log level to debug
debug: false

self_monitoring:
  enabled: {{ .SelfMonitoring_Enabled }}

host_monitoring:
  enabled: {{ .HostMonitoring_Enabled }}
  logs: 
    enabled: {{ .HostMonitoring_LogsEnabled }}
  metrics:
    enabled: {{ .HostMonitoring_MetricsEnabled }}

# otel_config_overrides:
#   exporters:
#     debug:
#       verbosity: detailed
#       sampling_initial: 5
#       sampling_thereafter: 200
#   service:
#     pipelines:
#       metrics:
#         receivers: [hostmetrics]
#         processors: [memory_limiter]
#         exporters: [debug]
