{{- /* Forked from the default due to windowseventlog receiver */ -}}
receivers:
  windowseventlog/host_monitoring-application:
    channel: Application
    retry_on_failure:
      enabled: true

  windowseventlog/host_monitoring-security:
    channel: Security
    retry_on_failure:
      enabled: true

  windowseventlog/host_monitoring-system:
    channel: System
    retry_on_failure:
      enabled: true

  {{- if .HostMonitoring.Logs.Include }}
  filelog/host_monitoring:
    include:
      {{- range .HostMonitoring.Logs.Include }}
      - {{ . }}
      {{- end }}
    {{- if .HostMonitoring.Logs.Exclude }}
    exclude:
      {{- range .HostMonitoring.Logs.Exclude }}
      - {{ . }}
      {{- end }}
    {{- end }}
    include_file_path: true
    storage: file_storage
    retry_on_failure:
      enabled: true
    max_log_size: 4MiB
    operators:
      - type: filter
        expr: 'body matches "otel-contrib"'
      {{- if .HostMonitoring.Logs.AutoMultilineDetection }}
      - id: multiline-recombine
        type: recombine
        combine_field: body
        # Regex is just 3 different pattern's OR'd together to match the 4 timestamp formats `2021-03-28 13:45:30`, `2023-03-28T14:33:53.743350Z`, `Jun 14 15:16:01`, `2024/05/16 19:46:15`
        is_first_entry: body matches "^(\\d{4}[-/]\\d{2}[-/]\\d{2} \\d{2}:\\d{2}:\\d{2}|\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(\\.\\d+)?Z?|[A-Za-z]+ \\d{1,2} \\d{2}:\\d{2}:\\d{2})"
      {{- end }}
  {{- end }}

service:
  pipelines:
    logs/host_monitoring-windowsevents:
      receivers: [windowseventlog/host_monitoring-application, windowseventlog/host_monitoring-security, windowseventlog/host_monitoring-system]
      processors:
        - memory_limiter
        - transform/truncate
        - resourcedetection
        - resourcedetection/cloud
        - resource/agent_instance
        {{- if .HasAttributes }}
        - attributes/observe_global_attributes
        {{- end }}
        {{- if .HasResourceAttributes }}
        - resource/observe_global_resource_attributes
        {{- end }}
        - batch
      exporters: [otlphttp/observe, count]

    {{- if .HostMonitoring.Logs.Include }}
    logs/host_monitoring-file:
      receivers: [filelog/host_monitoring]
      processors:
        - memory_limiter
        - transform/truncate
        - resourcedetection
        - resourcedetection/cloud
        - resource/agent_instance
        {{- if .HasAttributes }}
        - attributes/observe_global_attributes
        {{- end }}
        {{- if .HasResourceAttributes }}
        - resource/observe_global_resource_attributes
        {{- end }}
        - batch
      exporters: [otlphttp/observe, count]
    {{- end }}
