# Observe data token
token: {{ .Token }}

# Target Observe collection url
observe_url: {{ .ObserveURL }}

# Debug mode - Sets agent log level to debug
debug: false

{{ if .CloudResourceDetectors -}}
cloud_resource_detectors:
{{- range .CloudResourceDetectors }}
  - {{ . }}
{{- end }}
{{- end }}

self_monitoring:
  enabled: {{ .SelfMonitoring_Enabled }}

host_monitoring:
  enabled: {{ .HostMonitoring_Enabled }}
  logs: 
    enabled: {{ .HostMonitoring_LogsEnabled }}
    {{- if .HostMonitoring_LogsInclude }}
    include:
    {{- range .HostMonitoring_LogsInclude }}
      - {{ . }}
    {{- end }}
    {{- end }}
  metrics:
    host:
      enabled: {{ .HostMonitoring_Metrics_HostEnabled }}
    process:
      enabled: {{ .HostMonitoring_Metrics_ProcessEnabled }}

# otel_config_overrides:
#   exporters:
#     debug:
#       verbosity: detailed
#       sampling_initial: 5
#       sampling_thereafter: 200
#   service:
#     pipelines:
#       metrics:
#         receivers: [hostmetrics]
#         processors: [memory_limiter]
#         exporters: [debug]
