processors:
  transform/hostname:
    log_statements:
      - context: log
        statements:
          - set(attributes["observe_transform.identifiers.agent.hostname"], attributes["host.name"])
exporters:
  otlphttp/agentheartbeat:
      compression: zstd
      logs_endpoint: ${env:OBSERVE_COLLECTOR_URL}/v1/kubernetes/v1/entity
      headers:
          authorization: ${env:OBSERVE_AUTHORIZATION_HEADER}
          x-observe-target-package: Observe Agent
      retry_on_failure:
          enabled: true
      sending_queue:
          num_consumers: 4
          queue_size: 100
service:
  pipelines:
    logs/heartbeat:
      receivers: [heartbeat]
      processors: [resourcedetection, resourcedetection/cloud, resource/agent_instance, transform/hostname]
      exporters: [otlphttp/agentheartbeat, debug]  
