Running check on observe-agent config file {{ .ConfigFile }}

{{- if .IsValid }}
Config file is valid.
{{- else if .ParseSucceeded }}
⚠️ Config file validation failed with error {{ .Error }}
{{- else }}
⚠️ Config file could not be parsed as YAML
{{ .Error }}
{{- end -}}
