receivers:
  filelog/agent-config: # TODO: Add observe-agent.yaml once we can obfuscate sensitive config fields
    # TODO deprecate this
    include: ['C:\Program Files\Observe\observe-agent\connections\common\base.yaml.tmpl']
    include_file_path: true
    start_at: beginning
    poll_interval: 5m
    multiline:
      line_end_pattern: ENDOFLINEPATTERN

  prometheus/agent:
    config:
      scrape_configs:
        - job_name: 'otelcol'
          scrape_interval: 10s
          static_configs:
            - targets: ['0.0.0.0:8888']
          metric_relabel_configs:
            - source_labels: [__name__]
              regex: '.*grpc_io.*'
              action: drop

service:
  pipelines:
    metrics/agent-internal:
      receivers: [prometheus/agent, count]
      processors: [memory_limiter, transform/truncate, resourcedetection, resourcedetection/cloud, deltatocumulative, batch]
      exporters: [prometheusremotewrite/observe]

    logs/agent-config:
       receivers: [filelog/agent-config]
       processors: [memory_limiter, transform/truncate, resourcedetection, resourcedetection/cloud, batch]
       exporters: [otlphttp/observe]
