receivers:
  otlp:
    protocols:
      grpc:
        endpoint: localhost:4317
      http:
        endpoint: localhost:4318

exporters:
  otlphttp/observetracing:
    endpoint: ${env:OBSERVE_OTEL_ENDPOINT}
    headers:
      authorization: ${env:OBSERVE_AUTHORIZATION_HEADER}
      x-observe-target-package: "Tracing"
    sending_queue:
      num_consumers: 4
      queue_size: 100
    retry_on_failure:
      enabled: true
    compression: zstd

service:
  pipelines:
    metrics/forward:
      receivers: [otlp]
      processors:
        - memory_limiter
        - transform/truncate
        - resourcedetection
        - resourcedetection/cloud
        {{- if .HasAttributes }}
        - attributes/observe_global_attributes
        {{- end }}
        {{- if .HasResourceAttributes }}
        - resource/observe_global_resource_attributes
        {{- end }}
        - deltatocumulative
        - batch
      exporters: [prometheusremotewrite/observe]

    logs/forward:
      receivers: [otlp]
      processors:
        - memory_limiter
        - transform/truncate
        - resourcedetection
        - resourcedetection/cloud
        {{- if .HasAttributes }}
        - attributes/observe_global_attributes
        {{- end }}
        {{- if .HasResourceAttributes }}
        - resource/observe_global_resource_attributes
        {{- end }}
        - batch
      exporters: [otlphttp/observe, count]

    traces/forward:
      receivers: [otlp]
      processors:
        - memory_limiter
        - transform/truncate
        - resourcedetection
        - resourcedetection/cloud
        {{- if .HasAttributes }}
        - attributes/observe_global_attributes
        {{- end }}
        {{- if .HasResourceAttributes }}
        - resource/observe_global_resource_attributes
        {{- end }}
        - batch
      exporters: [otlphttp/observetracing]
