receivers:
  # TODO deprecate this
  filestats/agent:
    include: '/etc/observe-agent/connections/common/base.yaml.tmpl'
    collection_interval: 5m
    initial_delay: 60s

service:
  pipelines:
    metrics/agent-filestats:
       receivers: [filestats/agent]
       processors: [resourcedetection, resourcedetection/cloud]
       exporters: [prometheusremotewrite/observe]
