================
Agent 
================

  Status: {{ .Status }}
  
  Host Info 
  ================ 
  HostID: {{ .HostID }}
  Hostname: {{ .Hostname }}
  BootTime: {{ .BootTime }}
  Uptime: {{ .UpTime }} 
  OS: {{ .OS }}
  Platform: {{ .Platform }}
  PlatformFamily: {{ .PlatformFamily }}
  PlatformVersion: {{ .PlatformVersion }}
  KernelArch: {{ .KernelArch }}
  KernelVersion: {{ .KernelVersion }}
