================
Agent 
================

  Status: {{ .Status }}
 
  Host Info 
  ================ 
  HostID: {{ .HostID }}
  Hostname: {{ .Hostname }}
  BootTime: {{ .BootTime }}
  Uptime: {{ .UpTime }} 
  OS: {{ .OS }}
  Platform: {{ .Platform }}
  PlatformFamily: {{ .PlatformFamily }}
  PlatformVersion: {{ .PlatformVersion }}
  KernelArch: {{ .KernelArch }}
  KernelVersion: {{ .KernelVersion }}

  {{if eq .Status "Running"}}
  Agent Metrics 
  ================
  ExporterQueueSize: {{ .AgentMetrics.ExporterQueueSize }}
  CPUSeconds: {{ .AgentMetrics.CPUSeconds }}s
  MemoryUsed: {{ .AgentMetrics.MemoryUsed }}MB
  TotalSysMemory: {{ .AgentMetrics.TotalSysMemory }}MB
  Uptime: {{ .AgentMetrics.Uptime }}s
  AvgServerResponseTime: {{ .AgentMetrics.AvgServerResponseTime }}ms
  AvgClientResponseTime: {{ .AgentMetrics.AvgClientResponseTime }}ms
      
    Logs Stats
    ===============
    ReceiverAcceptedCount: {{ .AgentMetrics.LogsStats.ReceiverAcceptedCount }}
    ReceiverRefusedCount: {{ .AgentMetrics.LogsStats.ReceiverRefusedCount }}
    ExporterSentCount: {{ .AgentMetrics.LogsStats.ExporterSentCount }}
    ExporterSendFailedCount: {{ .AgentMetrics.LogsStats.ExporterSendFailedCount }}
    
    Metrics Stats
    ===============
    ReceiverAcceptedCount: {{ .AgentMetrics.MetricsStats.ReceiverAcceptedCount }}
    ReceiverRefusedCount: {{ .AgentMetrics.MetricsStats.ReceiverRefusedCount }}
    ExporterSentCount: {{ .AgentMetrics.MetricsStats.ExporterSentCount }}
    ExporterSendFailedCount: {{ .AgentMetrics.MetricsStats.ExporterSendFailedCount }}
  
    Traces Stats
    ===============
    ReceiverAcceptedCount: {{ .AgentMetrics.TracesStats.ReceiverAcceptedCount }}
    ReceiverRefusedCount: {{ .AgentMetrics.TracesStats.ReceiverRefusedCount }}
    ExporterSentCount: {{ .AgentMetrics.TracesStats.ExporterSentCount }}
    ExporterSendFailedCount: {{ .AgentMetrics.TracesStats.ExporterSendFailedCount }}
  {{end}} 