{{- /* Forked from the default due to journald receiver */ -}}
receivers:
  # TODO: Add observe-agent.yaml once we can obfuscate sensitive config fields

  prometheus/agent:
    config:
      scrape_configs:
        - job_name: 'otelcol'
          scrape_interval: 10s
          static_configs:
            - targets: ['{{ .InternalTelemetry.Metrics.Host }}:{{ .InternalTelemetry.Metrics.Port }}']
          metric_relabel_configs:
            - source_labels: [__name__]
              regex: '.*grpc_io.*'
              action: drop

  journald/agent:
    units:
      - observe-agent
    priority: info

service:
  pipelines:
    metrics/agent-internal:
      receivers: [prometheus/agent, count]
      processors:
        - memory_limiter
        - transform/truncate
        - resourcedetection
        - resourcedetection/cloud
        {{- if .HasAttributes }}
        - attributes/observe_global_attributes
        {{- end }}
        {{- if .HasResourceAttributes }}
        - resource/observe_global_resource_attributes
        {{- end }}
        {{- if .SelfMonitoring.Fleet.Enabled }}
        - resource/agent_instance
        {{- end }}
        - deltatocumulative
        - batch
      exporters: [prometheusremotewrite/observe]

    # Deprecated
    logs/agent-config:
      receivers: [nop]
      exporters: [nop]

    logs/agent-journald:
      receivers: [journald/agent]
      processors:
        - memory_limiter
        - transform/truncate
        - resourcedetection
        - resourcedetection/cloud
        {{- if .HasAttributes }}
        - attributes/observe_global_attributes
        {{- end }}
        {{- if .HasResourceAttributes }}
        - resource/observe_global_resource_attributes
        {{- end }}
        {{- if .SelfMonitoring.Fleet.Enabled }}
        - resource/agent_instance
        {{- end }}
        - batch
      exporters: [otlphttp/observe, count]
