processors:
  {{- if .HasAttributes }}
  attributes/observe_global_attributes:
    actions:
    {{- range $key, $value := .Attributes }}
      - key: {{ $key }}
        value: {{ $value }}
        action: insert
    {{- end }}
  {{- end }}
  {{- if .HasResourceAttributes }}
  resource/observe_global_resource_attributes:
    attributes:
    {{- range $key, $value := .ResourceAttributes }}
      - key: {{ $key }}
        value: {{ $value }}
        action: insert
    {{- end }}
  {{- end }}
