service:
  telemetry:
    {{- if .InternalTelemetry.Metrics.Enabled }}
    metrics:
      level: {{ .InternalTelemetry.Metrics.Level }}
      readers:
        - pull:
            exporter:
              prometheus:
                host: {{ .InternalTelemetry.Metrics.Host }}
                port: {{ .InternalTelemetry.Metrics.Port }}
    {{- end }}
    {{- if .InternalTelemetry.Logs.Enabled }}
    logs:
      level: {{ .InternalTelemetry.Logs.Level }}
    {{- end }}
