receivers:
  filelog/host_monitoring:
    include:
      {{- if .HostMonitoring.Logs.Include }}
      {{- range .HostMonitoring.Logs.Include }}
      - {{ . }}
      {{- end }}
      {{- else }}
      - /var/log/**/*.log
      - /var/log/syslog
      {{- end }}
    {{- if .HostMonitoring.Logs.Exclude }}
    exclude:
      {{- range .HostMonitoring.Logs.Exclude }}
      - {{ . }}
      {{- end }}
    {{- end }}
    include_file_path: true
    storage: file_storage
    retry_on_failure:
      enabled: true
    max_log_size: 4MiB
    operators:
      - type: filter
        expr: 'body matches "otel-contrib"'
      {{- if .HostMonitoring.Logs.AutoMultilineDetection }}
      - id: multiline-recombine
        type: recombine
        combine_field: body
        is_first_entry: body matches "^(\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}|\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}(\\.\\d+)?Z?|[A-Za-z]+ \\d{1,2} \\d{2}:\\d{2}:\\d{2}|\\d{4}\\/\\d{2}\\/\\d{2} \\d{2}:\\d{2}:\\d{2})"
      {{- end }}

  journald/host_monitoring:
    units:
      - cron
      - ssh
      - systemd-networkd
      - systemd-resolved
      - systemd-login
      - multipathd
      - systemd-user-sessions
      - ufw
      - observe-agent
    priority: info

service:
  pipelines:
    logs/host_monitoring-file:
      receivers: [filelog/host_monitoring]
      processors:
        - memory_limiter
        - transform/truncate
        - resourcedetection
        - resourcedetection/cloud
        {{- if .HasAttributes }}
        - attributes/observe_global_attributes
        {{- end }}
        {{- if .HasResourceAttributes }}
        - resource/observe_global_resource_attributes
        {{- end }}
        - batch
      exporters: [otlphttp/observe, count]

    logs/host_monitoring-journald:
      receivers: [journald/host_monitoring]
      processors:
        - memory_limiter
        - transform/truncate
        - resourcedetection
        - resourcedetection/cloud
        {{- if .HasAttributes }}
        - attributes/observe_global_attributes
        {{- end }}
        {{- if .HasResourceAttributes }}
        - resource/observe_global_resource_attributes
        {{- end }}
        - batch
      exporters: [otlphttp/observe, count]
