receivers:
  windowseventlog/host_monitoring-application:
    channel: Application
    retry_on_failure:
      enabled: true

  windowseventlog/host_monitoring-security:
    channel: Security
    retry_on_failure:
      enabled: true

  windowseventlog/host_monitoring-system:
    channel: System
    retry_on_failure:
      enabled: true

service:
  pipelines:
    logs/host_monitoring-windowsevents:
      receivers: [windowseventlog/host_monitoring-application, windowseventlog/host_monitoring-security, windowseventlog/host_monitoring-system]
      processors:
        - memory_limiter
        - transform/truncate
        - resourcedetection
        - resourcedetection/cloud
        {{- if .HasAttributes }}
        - attributes/observe_global_attributes
        {{- end }}
        {{- if .HasResourceAttributes }}
        - resource/observe_global_resource_attributes
        {{- end }}
        - batch
      exporters: [otlphttp/observe, count]
