receivers:
  heartbeat:
    interval: {{.AgentConfig.SelfMonitoring.Fleet.Interval}}
    environment: linux
    auth_check:
      url: ${env:OBSERVE_COLLECTOR_URL}
      headers:
        authorization: ${env:OBSERVE_AUTHORIZATION_HEADER}
