receivers:
  heartbeat:
    interval: {{.SelfMonitoring.Fleet.Interval}}
    config_interval: {{.SelfMonitoring.Fleet.ConfigInterval}}
    environment: linux
    auth_check:
      url: ${env:OBSERVE_COLLECTOR_URL}
      headers:
        authorization: ${env:OBSERVE_AUTHORIZATION_HEADER}
