name: Build Release

on:
  workflow_dispatch:
    inputs:
      branch:
        description: "The branch to attempt to build"
        required: true
        default: "main"

permissions:
  contents: write
  # packages: write
  # issues: write

jobs:
  goreleaser:
    runs-on: ubuntu-observe-agent-8cpu
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.inputs.branch }}
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.24.9
      - name: Install qemu
        uses: docker/setup-qemu-action@v3
      - name: Run GoReleaser
        timeout-minutes: 25
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser-pro
          version: 2.12.6
          args: release --prepare --clean --snapshot --verbose
        env:
          GORELEASER_KEY: ${{ secrets.GORELEASER_KEY }}
